##login 
<div class="container">
      <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-login">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-6">
                <a href="/login" class="active" id="login-form-link">Login</a>
              </div>
              <div class="col-xs-6">
                <a href="/signup" id="register-form-link">Register</a>
              </div>
            </div>
            <hr>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12">
                <form id="login-form" action="/login" method="POST" role="form" style="display: block;">
                  {{ form.csrf_token }}
                  {{ wtf.form_field(form.username) }}
                  {{ wtf.form_field(form.password) }}
                  {{ wtf.form_field(form.remember) }}

                
                  
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                        <input type="submit" name="login-submit"  tabindex="4" class="form-control btn btn-login" value="Sign In">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="text-center">
                          <a href="https://phpoll.com/recover" tabindex="5" class="forgot-password">Forgot Password?</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>

                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

